<!DOCTYPE html>
<html>

<head>
    <title>EEG</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://unpkg.com/htmx.org@1.9.9" crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>

<body>
    <style>
        * {
            font-family: "Inconsolata", sans-serif;
        }
        fieldset {
            margin-top: 1em;
            margin-bottom: 1em;
        }
        .question {
            font-weight: bold;
        }
        input {
            font-weight: normal;
        }
        h1 {
            text-align: center;
        }
    </style>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-white">
            <a href="{{ url_for('.home') }}" class="w3-bar-item">Home</a>
        </div>
    </div>
    <!-- Main body -->
    <div class="w3-content w3-grayscale w3-large w3-padding-32" style="max-width:800px">
        <div class="w3-container">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div>
</body>

</html>